<div class="splash-container">
<h1 class="splash-logo">PennyPincher</h1>


<div class="splash-btns">
    <%= button_to "LOG IN" , new_user_session_path, class: "login-btn" %>
    <%= link_to "SIGN UP" , new_user_registration_path, class: "btn btn-primary" %>
</div>

</div>