<div class="header reg-head">
<a href="<%= categories_path %>">
  <i class="fa-solid fa-arrow-left"></i>
  </a>
  <p>TRANSACTIONS</p>
  <a href="/logout" data-method="delete">
 <i class="fa-solid fa-arrow-right-from-bracket"></i>
  </a>
</div>



<div id="payments">

<% if @payments.empty? %>
      <div class="empty-message">There are no Transactions for this category. Add one by clicking the button below.</div>
    <% else %>
  <% @payments.each do |payment| %>
  <div class="single-payment">
      <p class="payment-name"><%= payment.name %></p>
      <p> $ <%= payment.amount %> </p>
    </div>
  <% end %>
  <% end %>

 <div class="green-btn">
    <%= link_to "NEW TRANSACTION", new_category_payment_path %>
  </div>

</div>

