  <%= link_to "Back to categories", categories_path %>


<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
